
.fab  {
  color: white;
}

h5 {
  margin: 20px 0 !important;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #c9eaf6;
  margin: 0 0 0 10px;
}

.user-letter {
  font-size: 1.75rem;
  font-weight: 500;
}

.navbar {
  padding: 20px 10% 30px 5%;
  background: rgb(36,146,218);
  background: linear-gradient(90deg, rgba(36,146,218,1) 0%, rgba(77,213,254,1) 77%);
}

.nav-link {
  font-family: Roboto;
  color: #fff !important;
  font-size: 1.6rem;
  font-weight: 300;
  margin-right: 40px;
}
