
#home-page-container {
  margin: 5% 0;
}

.card {
  font-family: Montserrat;
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  transition: .3s ease-out;
  z-index: 1;
}

.card:hover {
  transform: translateY(-10px);
}

.card-title {
  font-size: 1.5rem;
  margin-top: 10px 0;
  font-weight: 600;
  color: #393737;
}

.card-text {
  font-weight: 500;
}

.fab {
  font-size: 9rem;
  color: #007FFF;
}

.fas {
  font-size: 9rem;
  color: #007FFF;
}

#vector {
  position: fixed;
  bottom: 0;
}
